body {
  background-color: #66d9ff;

}

.jumbotron {
  background-color: #fad69e;
  font-size: 3em;
}

#uneaten-header {
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #ff0000;
  color: white;
  text-align: center;

}

.eatbutton, .delete {
  float: right;
  margin-bottom: 5px;
}

#devoured-header {
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #ffcc00;
  color: white;
  text-align: center;
}

.panel-body hr {
  margin-top: 25px;
}

/* .eaten, .uneaten {
  font-size: 1.2em;
} */

