body {
    background-image: radial-gradient(#d6ccc2 8%, transparent 8%),
     radial-gradient(#d6ccc2 8%, transparent 8%);
  background-color: #e6d7c7;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
  height: 200px;
  width: 100%;
  min-height: 100%
}

.jumbotron {
  background-color: #c6d8d3;
}

#uneaten-header {
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #2d3047;
  color: white;
  text-align: center;

}

.eatbutton, .delete {
  float: right;
  margin-bottom: 5px;
}

#devoured-header {
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #e0a458;
  color: white;
  text-align: center;
}

.panel-body hr {
  margin-top: 25px;
}

/* .eaten, .uneaten {
  font-size: 1.2em;
} */

